<div class="container">
<h3>Hello There, <%= @user.username %> Have you completed your profile?</h3>

  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">Profile</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="bookings-created-tab" data-bs-toggle="tab" data-bs-target="#bookings-created" type="button" role="tab" aria-controls="bookings-created" aria-selected="false">Who wants to work with me?</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="bookings-received-tab" data-bs-toggle="tab" data-bs-target="#bookings-received" type="button" role="tab" aria-controls="bookings-received" aria-selected="false">Who I want to work with</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="flats-tab" data-bs-toggle="tab" data-bs-target="#flats" type="button" role="tab" aria-controls="flats" aria-selected="false">My Projects</button>
        </li>
      </ul>
    </div>
  </div>
  <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <li class="mt-3 edit-profile-pencil">
          <%= link_to "✏️", edit_user_registration_path(current_user.id) %>
        </li>
        <ul class="profile">
        <li class="big-avatar">
        <% if current_user.profile_picture_url.nil? || current_user.profile_picture_url == ""  %>
            <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/1024px-User-avatar.svg.png", class: "big-avatar" %>
            <% else %>
            <%=  image_tag current_user.profile_picture_url, class: "big-avatar" %>
            <% end %>
        </li>
        <div class="info">
        <li>
          Email: <%= @user.email%>
        </li>
        <li>Name: <%= "#{@user.first_name} #{@user.last_name}" %></li>
        </div>
      </ul>
      </div>

















</div>
