<div class="<%= local_assigns[:css_class] %> my-1" id="message-<%= message.id %>" data-sender-id="<%= message.user.id %>">
  <small>
     <i style="font-size: 10px;"><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i> 
  </small>
  <p class="mb-0 message-content"><%= message.content %></p>
</div>
