<div class="container">
    <h1 class="header mb-5"><%= @user.first_name %> <%= @user.last_name %></h1>
    <div class="d-flex">
    <div>
        <%= cl_image_tag(@user.photo.key, class: "show-avatar mb-3") %>
            <p><%= @user.location %></p>
            <h6>My skills:</h6>
            <p><% @user.skills.each do | skill | %></p>
                <ul>
                    <li><%= skill.name %></li>
                </ul>
            <% end %>
            <p>Projects: <%= @user.projects.count %></p>
            <p>Projects I'm taking part in: <%= @user.bookings.where(status: "Approved").count %></p>

            </div>
        <div  style="margin-left: 100px;">
            <h4>Bio:</h4>
            <p style="width: 500px;"><%= @user.bio %></p>
            <h4>My projects:</h4>
            <div class="user-show-grid">
                <% @user.projects.each do | project | %>
                    <div class='my-card my-3' id="<%= project.id %>">
                        <div>
                        <a href="/projects/<%= project.id %> "><div class="project-image" style="background-image: url(https://picsum.photos/2000/3000?random=<%= rand(1..50) %>);"></div></a>
                        </div>
                        <div class="card-contents">
                        <div class="card-head">
                            <h5 class='header-link mt-3'><%= link_to project.title, project_path(project) %></h5>
                            <%= link_to "♥", project_favorites_path(project), method: :create, class: "grey", id: "heart" %>
                        </div>
                            <div class='index-card-list mb-3'>
                                <h6><%= project.category.name %> in <%= project.location %></h6>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>



 