<div class="container">
    <h1 class="header mb-5"><%= @user.first_name %> <%= @user.last_name %></h1>
    <div class="d-flex">
    <div>
        <div class="user-img">
            <%= cl_image_tag(@user.photo.key, class: "show-avatar mb-3") %>
        </div>
            <p><%= @user.location %></p>
            <h6>My skills:</h6>
            <p><% @user.skills.each do | skill | %></p>
                <ul>
                    <li><%= skill.name %></li>
                </ul>
            <% end %>
            <p>Projects: <%= @user.projects.count %></p>
            <p>Projects I'm taking part in: <%= @user.bookings.where(status: "Approved").count %></p>

            </div>
        <div style="margin-left: 100px;">
            <h4>Bio:</h4>
            <p style="width: 500px;"><%= @user.bio %></p>
            <h4 class="mb-3">My projects:</h4>
            <div class="user-show-grid">
                <% @user.projects.each do | project | %>
                <div class="card-product">
                    <img src="https://picsum.photos/2000/3000?random=<%= rand(1..50) %>)" />
                    <div class="card-product-infos">
                        <h2><%= link_to project.title, project_path(project) %></h2>
                        <p><%= project.category.name %> in <%= project.location %></p>
                    </div>
                </div>

                <% end %>
            </div>
        </div>
    </div>
</div>


