<div class="chats">

        <div class="header-chat">
            <h6 class="btn click-to-collapse">All your chats</h6>
        </div>
    <div class="container">
        <ul id="chat-list">
        <% @chatrooms.each do |chatroom| %>
            <li>
            <% if chatroom.other_person(current_user).photo.key != nil %>
             <a href="/users/<%= chatroom.other_person(current_user).id %>"><%= cl_image_tag chatroom.other_person(current_user).photo.key, class: "nav-avatar" %></a> - <%= link_to chatroom.other_person(current_user).email, chatroom_path(chatroom) %></li>
             <% else %>
             <a href="/users/<%= chatroom.other_person(current_user).id %>"><%= image_tag "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmendocoastpm.com%2Fwp-content%2Fuploads%2F2015%2F06%2Fuser_avatar.png&f=1&nofb=1", class: "nav-avatar" %></a> - <%= link_to chatroom.other_person(current_user).email, chatroom_path(chatroom) %></li>
             <% end %>

        <% end %>
        </ul>
    </div>

</div>