<% if user_signed_in? %>
    <div class="chats" data-controller="chat notification-subscription" data-user-id="<%= current_user.id %>" data-notification-amount="<%= current_user.notifications.count %>">

            <div class="header-chat click-to-collapse" data-hello-target="back" data-replace-target="other" style="display: flex; justify-content: space-evenly; cursor: pointer;">
                <div style="width: 10%;"><p class="btn d-none" data-action="click->hello#displayBack" style="padding: 0; margin: 0; display: flex; align-content: center; justify-content: center;" data-chat-target="other" data-hello-target="other"><<</p></div> 
                <h6 class="btn" data-action="click->chat#revealContent" style="padding: 0; margin: 0; width: 71%;">Inbox </h6>
                <div style="width: 18%;" data-action="click->chat#revealContent" data-action="click->chat#hideBack">
                    <div id="outer-notification" data-notification-subscription-target="count" data-chat-target="third" class="<%= current_user.notifications.count == 0 ? "" : "circle"%> " style="align-self: end;">
                     <%= current_user.notifications.count == 0 ? "" : current_user.notifications.count %>
                    </div>
                </div>
            </div>
        <div class="d-none" data-chat-target="content" style="height: 350px;" data-controller="replace" data-replace-target="output" data-hello-target="content">
            <ul id="chat-list">
            <% @chatrooms.each do |chatroom| %>
                <li class="chat-index-li">
                        <% if chatroom.other_person(current_user).photo.key != nil %>
                    <div class="d-flex" style="align-items: center; margin-inline: 33px; align-content: space-between; justify-content: space-between;">
                        <a href="/users/<%= chatroom.other_person(current_user).id %>" style="width: 33%">
                        <%= cl_image_tag chatroom.other_person(current_user).photo.key, class: "nav-avatar"%>
                        </a> 
                        <%= link_to chatroom.other_person(current_user).username, chatroom_path(chatroom), data: { action: "click->replace#render"}, style: "width: 33%;text-align: center;color: black;text-decoration: none;font-weight: 100;" %>
                         <div style="width: 33%; display: flex; justify-content: center;"><div  data-notification-subscription-target="other" class="<%= chatroom.me(current_user).notifications.count == 0 ? "" : "circle" %> "><%= chatroom.me(current_user).notifications.count == 0 ? "" : chatroom.me(current_user).notifications.count %></div></div>
                        <%# <%= link_to "[X]", chatroom_path(chatroom), method: :delete %>
                    </div>
                </li>


                <% else %>
                    <div class="d-flex" style="align-items: center; margin-inline: 33px; align-content: space-between; justify-content: space-between;">
                        <a href="/users/<%= chatroom.other_person(current_user).id %>" style="width: 33%">
                        <%= image_tag "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmendocoastpm.com%2Fwp-content%2Fuploads%2F2015%2F06%2Fuser_avatar.png&f=1&nofb=1", class: "nav-avatar" %></a>
                        <%= link_to chatroom.other_person(current_user).username, chatroom_path(chatroom), data: { action: "click->replace#render"}, style: "width: 33%;text-align: center;color: black;text-decoration: none;font-weight: 100;" %> 
                        <div style="width: 33%; display: flex; justify-content: center;"><div  data-notification-subscription-target="other" class="<%= chatroom.me(current_user).notifications.count == 0 ? "" : "circle" %> "><%= chatroom.me(current_user).notifications.count == 0 ? "" : chatroom.me(current_user).notifications.count %></div></div>
                    </div>
                    </li>  
                <% end %>

            <% end %>
            </ul>
        </div>
    </div>
<% end %>