<div class="container mt-5">
<h2 class="mt-5">Hello,</h2> <h2 class="mt-5" id="underline"><%= @user.username %></h2>
<% if !(@user.first_name.present? && @user.last_name.present? && @user.bio.present? && @user.location.present? && @user.birthday.present?) %>
  <h4 class="mt-3"> Have you completed your profile?</h4>
<% end %>
<div class="dash-container mt-5">

  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="true">My Profile</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="bookings-received-tab" data-bs-toggle="tab" data-bs-target="#bookings-received" type="button" role="tab" aria-controls="bookings-received" aria-selected="true">Who want's to join my project</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="bookings-made-tab" data-bs-toggle="tab" data-bs-target="#bookings-made" type="button" role="tab" aria-controls="bookings-made" aria-selected="false">Projects I want to join</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="favorites-tab" data-bs-toggle="tab" data-bs-target="#favorites" type="button" role="tab" aria-controls="favorites" aria-selected="false">Favorites</button>
        </li>
      </ul>
    </div>
  </div>


  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      <div class="">
        <div class="head-container mt-3 mb-3 d-flex">
        </div>
        <div class="d-flex">
          <div>
            <div class="user-img">
              <% if @user.photo.key != nil %>
                  <%= cl_image_tag(@user.photo.key, class: "show-avatar mb-3") %>
              <% else %>
                  <%= image_tag "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmendocoastpm.com%2Fwp-content%2Fuploads%2F2015%2F06%2Fuser_avatar.png&f=1&nofb=1", class: "show-avatar mb-3" %>
              <% end %>
            </div>

            <div class="icons d-flex justify-content-between">
              <div class="favorites text-center">
                <span><%= @user.projects.count %></span>
                <p><%= (@user.projects.count == 1 ) ? "My Project" : "My Projects" %></p>
              </div>
              <div class="collaborators text-center">
                <span><%= @user.bookings.where(status: "Approved").count %></span>
                <p class="mb-3"><%= (@user.bookings.where(status: "Approved").count == 1 ) ? "My Contribution" : "My Contributions" %></p>
              </div>
            </div>

            <div class="icons">
              <% if @user.user_reviews.present? %>
                <p class="mt-4"><strong>My Rating:</strong> <%= "   " %><%= "â³" * (@ratings.sum / @ratings.count)%><em> (<%= @ratings.count %> <%= (@ratings.count == 1 ) ? "Review" : "Reviews" %>)</em></p>
              <% end %>
              <p class="mt-4"><strong>My Location:</strong><%= " #{@user.location}" %></p>
              <p><strong>My interests:</strong></p>
              <div id= "skills-breakdown" class="justify-content-left">
                <% @user.skills.each do | skill | %>
                    <p class="col-3 px-2" style="<%="text-decoration: line-through; color: grey; font-size: smaller;" if !(@user.skills.include?(skill)) %>"><%= skill.name %></p>
                <% end %>
              </div>
            </div>
          </div>

          <div style="margin-left: 100px;">
              <h4>Bio:</h4>
              <p class="mb-3" style="width: 500px;"><%= @user.bio %></p>
              <%= link_to "Update Profile", edit_user_path(@user.id), class: "btn btn-outline-secondary mt-2 mb-5" %>
              <h4 class="mb-3">My projects:</h4>
              <div class="user-show-grid">
                  <% @user.projects.each do | project | %>
                    <div class="card-product-dashboard">
                      <a href="/projects/<%= project.id %>" style="height: 100%;">
                        <%= cl_image_tag project.photos[0].key, class: "project-image" %>
                      </a>
                      <div class="card-product-dashboard-infos">
                        <p style="text-align: end; margin-top: 0;">
                          <%= "[" %>
                            <%= link_to "Edit", edit_project_path(project.id), method: :get, style: "text-decoration: none;" %>
                          <%= " | " %>
                            <%= link_to "Delete", project_path(project), method: :delete, data: { confirm: "Deleting your project will erase it from our database and delete all related communications. Are you sure?" }, style: "text-decoration: none;"%>
                          <%= "]" %>
                        </p>
                        <h2><%= link_to project.title, project_path(project) %></h2>
                        <p><%= project.category.name %> in <%= project.location %></p>
                      </div>
                    </div>
                  <% end %>
              </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="favorites" role="tabpanel" aria-labelledby="favorites-tab">
      <div class="card-container-dash" id="favorites-dashboard" style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;">
        <% @user.favorites.each do | favorite | %>
            <div class="card-product-dashboard">
              <a href="/projects/<%= favorite.project.id %>" style="height: 100%;">
                <%= cl_image_tag favorite.project.photos[0].key, class: "project-image" %>
              </a>
              <div class="card-product-dashboard-infos">
                <p><%= "[" %><%= link_to " Delete ", favorite_path(favorite), method: :delete, data: { confirm: "Remove from favorites?"} %> <%= "]" %></p>
                <h2><%= link_to favorite.project.title, project_path(favorite.project_id) %></h2>
                <p><%= favorite.project.category.name %> in <%= favorite.project.location %></p>
              </div>
            </div>
          <% end %>
      </div>
    </div>

    <div class="tab-pane fade" id="bookings-received" role="tabpanel" aria-labelledby="bookings-received-tab">
      <div class="card-container-dash" style="display: grid; grid-template-columns: 1fr 1fr;">
        <% @user.projects.each do |project| %>
          <% project.bookings.each do |booking| %>
            <div class="project-card my-3 mx-3" style="width: 400px">
              <div class="m-0 text-center">
                <% if booking.user.photo.key != nil %>
                  <a href='/users/<%= booking.user_id %>'><%= cl_image_tag booking.user.photo.key, id: "project-request", class: "mb-3" %></a>
                <% else %>
                  <a href='/users/<%= booking.user_id %>'><%= image_tag "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmendocoastpm.com%2Fwp-content%2Fuploads%2F2015%2F06%2Fuser_avatar.png&f=1&nofb=1", class: "mb-3" %></a>
                <% end %>
                <div class="w-100 m-0">
                  <p><%=  booking.user.username %> wants to join <%= booking.project.title %></p>
                </div>
              </div>
              <div class="text-center">
                  <div class="card-body">
                    <% if booking.status == "Approved" %>
                        <p class="card-text"><strong>Booking status: <%= booking.status %></strong></p>
                        <%= link_to "Reject the booking", destroy_booking_from_dashboard_path(booking.id), method: :delete , class:"home-page-btn"%>
                        <% if (@chatroom.where(sender_id: current_user.id, reciever_id: booking.user_id) || @chatroom.where(sender_id: booking.user_id, reciever_id: current_user.user_id)).exists? %>
                          <%= link_to "To Chat", chatroom_path(@chatroom.first.id), class: "home-page-btn" %>
                        <% else %>
                          <%= link_to "Chat", user_chatrooms_path(booking.user_id), class: "home-page-btn", method: :create %>
                        <% end %>
                    <% elsif booking.status == "Pending" %>
                        <p class="card-text"><strong>Booking status: <%= booking.status %></strong></p>
                    <% end %>
                    <% if booking.status != "Approved" %>
                      <%= link_to "Accept the booking", booking_path(booking), method: :patch ,class:"home-page-btn"%>
                      <%= link_to "Reject the booking", destroy_booking_from_dashboard_path(booking.id), method: :delete , class:"home-page-btn"%>
                      <% if (@chatroom.where(sender_id: current_user.id, reciever_id: booking.user_id) || @chatroom.where(sender_id: booking.user_id, reciever_id: current_user.user_id)).exists? %>
                        <%= link_to "To Chat", chatroom_path(@chatroom.first.id), class: "home-page-btn" %>
                      <% else %>
                        <%= link_to "Chat", user_chatrooms_path(booking.user_id), class: "home-page-btn", method: :create %>
                      <% end %>
                    <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end%>
      </div>
    </div>

    <div class="tab-pane fade" id="bookings-made" role="tabpanel" aria-labelledby="bookings-made-tab">
      <div class="card-container-dash" style="display: grid; grid-template-columns: 1fr 1fr;">
        <% @user.bookings.each do |booking| %>
          <div class="project-card my-3 mx-3" style="width: 400px">
            <div class="m-0 text-center">
              <% if booking.user.photo.key != nil %>
                <a href='/users/<%= booking.user_id %>'><%= cl_image_tag booking.user.photo.key, id: "project-request", class: "mb-3" %></a>
              <% else %>
                <a href='/users/<%= booking.user_id %>'><%= image_tag "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmendocoastpm.com%2Fwp-content%2Fuploads%2F2015%2F06%2Fuser_avatar.png&f=1&nofb=1", class: "mb-3" %></a>
              <% end %>
            </div>
            <div class="text-center">
              <div class="card-body booking-made">
                  <h5 class="card-title">Your booking for <%= link_to booking.project.title, project_booking_path(booking.project_id, booking.id), class: "booking-btn" %></h5>
                  <p class="card-text">Booking status: <%= booking.status %> </p>
                  <%= link_to "Delete your booking", booking_path(booking.id), method: :delete, data: { confirm: "Are you sure?" }, class:"btn home-page-btn"%>
              </div>
            </div>
          </div>
        <% end%>
      </div>
    </div>

  </div>
</div>


</div>
 <svg width="1000" height="1000" viewBox="0 0 696 694" fill="none" xmlns="http://www.w3.org/2000/svg" class='blob'>
  <path fill-rule="evenodd" clip-rule="evenodd" fill="url(#paint0_linear)">
    <animate repeatCount="indefinite" fill="freeze" attributeName="d" dur="5s"

    values="M364.504 0.00131368C416.594 0.168265 466.139 20.1059 512.391 44.0676C557.895 67.642 602.302 96.1253 631.434 138.289C659.943 179.551 664.767 231.184 675.519 280.171C686.2 328.838 699.684 376.947 694.692 426.522C689.39 479.177 679.959 535.064 645.785 575.472C611.738 615.729 556.092 627.656 507.429 647.946C460.761 667.403 415.021 690.642 364.504 692.748C313.131 694.889 261.064 684.352 215.724 660.104C171.077 636.226 142.122 593.131 108.11 555.626C72.2421 516.076 25.1071 483.213 9.10745 432.275C-7.10404 380.663 -0.388863 322.784 19.1253 272.328C37.8438 223.929 83.0317 193.02 116.859 153.669C149.559 115.629 173.536 69.5665 216.159 43.1182C260.47 15.6227 312.356 -0.165822 364.504 0.00131368Z;
    M332 0.500017C384.091 0.666969 433.248 15.5383 479.5 39.5C525.005 63.0744 601.369 82.3364 630.5 124.5C659.009 165.762 634.815 216.013 645.567 265C656.247 313.667 644.058 369.701 639.067 419.275C633.765 471.931 650.501 499.092 616.326 539.5C582.28 579.757 545.947 600.711 497.284 621C450.616 640.457 417.41 678.395 366.893 680.5C315.52 682.641 234.734 673.749 189.393 649.5C144.746 625.623 135.765 553.505 101.752 516C65.8847 476.45 29.4999 470.213 13.5002 419.275C-2.71131 367.663 -6.01387 315.456 13.5002 265C32.2188 216.601 67.9245 195.852 101.752 156.5C134.452 118.461 131.877 52.4483 174.5 26C218.811 -1.49547 279.852 0.332881 332 0.500017Z;

    M364.504 0.00131368C416.594 0.168265 466.139 20.1059 512.391 44.0676C557.895 67.642 602.302 96.1253 631.434 138.289C659.943 179.551 664.767 231.184 675.519 280.171C686.2 328.838 699.684 376.947 694.692 426.522C689.39 479.177 679.959 535.064 645.785 575.472C611.738 615.729 556.092 627.656 507.429 647.946C460.761 667.403 415.021 690.642 364.504 692.748C313.131 694.889 261.064 684.352 215.724 660.104C171.077 636.226 142.122 593.131 108.11 555.626C72.2421 516.076 25.1071 483.213 9.10745 432.275C-7.10404 380.663 -0.388863 322.784 19.1253 272.328C37.8438 223.929 83.0317 193.02 116.859 153.669C149.559 115.629 173.536 69.5665 216.159 43.1182C260.47 15.6227 312.356 -0.165822 364.504 0.00131368Z"/>
  </path>
  <defs>
  <linearGradient id="paint0_linear" x1="149" y1="128" x2="432.5" y2="693" gradientUnits="userSpaceOnUse">
    <stop stop-color="#FF333F "/>
    <stop offset="1" stop-color="#E884EE" stop-opacity="0.97"/>
  </linearGradient>
  </defs>
</svg>
</div>
