<!DOCTYPE html>
<html>
  <head>
    <title>TimeBank</title>
     <%= favicon_link_tag asset_path('https://img.icons8.com/external-flatart-icons-outline-flatarticons/344/external-clock-summer-flatart-icons-outline-flatarticons.png 2x') %>
        <link rel="time-bank-icon" href="https://img.icons8.com/external-flatart-icons-outline-flatarticons/344/external-clock-summer-flatart-icons-outline-flatarticons.png 2x" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <div class="yield-container">
      <%= yield %>
    </div>
    <%= render 'shared/chats' %>
    <div class='mt-5 footer'></div>
  </body>
</html>
